.App {
    text-align: center;
}

.head-text {
    position: relative;
}

.text-on-image {
    position: absolute;
    right: 50%;
    left: 10%;
    bottom: 35%;
    color: yellow;
}

.searchNames {
    position: absolute;
    right: 50%;
    left: 10%;
    bottom: 15%;
}

input {
    width: 60%;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.paginationButton {
    margin: 1rem;
    display: inline-block;
}

.charcterContainer {
    margin: 10px 80px 5px 80px;
    border: 2px solid red;
    border-radius: 25px;
}